#cards {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    flex-wrap: wrap;
    width: 70%;
}

.card {
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: center;
    border-radius: 20px;
}

.card img { 
    padding-top: 20px;
    position: relative;
    border-radius: 10px;
    width: 70%;
    border: 2px solid grey;
}

.card h3{
    background: white;
    position: relative;
    font-family: 'bold';
}
