:root {
    --main-image: url(../imgs/buques.jpg);
}

@font-face {
    font-family: 'bold';
    src: url(..//fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'title';
    src: url(/fonts/Dancing_Script/DancingScript-Bold.ttf);
}

@font-face {
    font-family: 'menu';
    src: url(/fonts/Dancing_Script/DancingScript-Medium.ttf);
}

body {
    margin: 0;
    padding: 0;
    background-color: #c2f970;
}

nav {
    display: flex;
    background: #00e640;
    padding: 20px;
    column-gap: 10px;
    align-items: center;
}

nav span {
    color: white;
    font-family: 'title';
    font-size: 200%;
}

nav a:first-of-type {
    margin-left: auto;
}

nav a {
    font-size: 180%;
    color: white;
    font-family: 'menu';
    text-decoration: none;
    font-weight: 300;
}

nav a:hover {
    color: #454848;
}

#main {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    var(--main-image);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10px;
    position: relative;
}

#main-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    width: 80%;
}

#main-text h1 {
    margin: 0 auto;
    font-family: 'title';
    font-size: 295%;
}

#main-text p {
    font-family: 'regular';
    font-size: 200%;
}

/*Container*/
.container {
    display: flex;
    padding: 20px;
}

.container:nth-child(even) {
    flex-direction: row-reverse;
}

.iten-left {
    width: 60%;
}

.iten-left h2 {
    font-family: 'title';
    color: black;
}

.iten-left p {
    font-family: 'regular';
    font-size: 120%;
    color: black;
}

.iten-right {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
}

.iten-right img {
    width: 80%;
    animation: fadeIn 10s;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}

/*Rodapé*/
footer {
    background:#00e640;
    padding: 20px 0px 0px 50px;
    display: flex;
    color: white;
    width: auto;
}

#copyright {
    display: flex;
    align-items: center;
    position: relative;
    float: right;
    margin-left: auto;
    margin-right: 15px;
}

#copyright span {
    font-family: 'bold';
}

#endereco {
    font-family: 'regular';
}

#endereco h3 {
    font-family: 'bold';
}
